@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "./kaeru-theme.css";

body {
    background-color: var(--background);
    color: var(--text);
}

.article {
    box-sizing: border-box;
    padding-top: 1px;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-radius: 0 0 10px 10px;
    background-color: white;
    width: calc(80vw + 5rem);
    max-width: 75rem;
}

.mainContainer {
    margin: 0 auto;
    width: 80vw;
    max-width: 70rem;
    position: relative;
    padding-left: 0.5rem;
}

.mainContainer > h1, .mainContainer > h2, .mainContainer > h3,
.mainContainer > h4, .mainContainer > h5, .mainContainer > h6 {
    margin-left: -1rem;
}

a {
    color: var(--phun-text);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-red);
}

input[type="text"] {
    border: var(--kaeru-dark) 2px solid;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

h1 {
    font-weight: bold;
    margin: 1.5rem 0 0.8rem 0;
    padding: 0 0 0.1rem 10px;
    font-size: 1.6rem;
    border-bottom-left-radius: 0.25rem;
    color: var(--phun-text-dark);
    border: var(--phun-text-dark) solid;
    border-width: 0 0 3px 8px;
    text-align: left;
}

h2 {
    margin: 1.2rem 0 1rem 0;
    padding: 2px 0 2px 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--phun-text);
    border-bottom: 4px double var(--phun-dark-transparent);
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--phun-text-dark);
    border-bottom: 1px dashed var(--phun-text-dark-transparent);
    margin: 1.2rem 0 0.7rem 0;
    padding: 2px 0 2px 5px;
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--phun-main);
    margin: 1.2rem 0 0.5rem 0;
    padding-left: 5px;
}

p {
    margin: 1rem 0;
    line-height: 1.7;
}

ul {
    padding-left: 1rem;
    margin-bottom: 0.8rem;
}

ol {
    padding-left: 2rem;
    margin-bottom: 0.8rem;
}

ul ul, ol ol {
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 0;
}

ul li, ol li {
    padding: initial;
    margin-top: 0.5rem;
}

ul li::before {
    display:  inline-block;
    content:  "";
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(/list-mark.svg);
    background-size: contain;
    margin-right: 0.3rem;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
}

ul > li > ul li::before {
    background-image:  url(/list-mark-white.svg);
}

ol {
    list-style: decimal;
}

.tableBox, .imgBox {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    text-wrap: nowrap;
}

td, th {
    border: 1px var(--kaeru-border) solid;
    padding: 0.2rem 0.5rem;
}

th {
    background-color: var(--kaeru-light);
    font-weight: normal;
}

td {
    background-color: white;
}

.imgBox > img {
    height: 100%;
    display: block;
    width: auto;
}

:not(pre) > code {
    background: #24272c;
    color: white;
    padding: 3px 5px;
    margin: 0 3px;
    border-radius: 5px;
}

pre:has(code) {
    margin: 1rem 0;
    padding: 0.8rem;
    border-radius: 5px;
    background: #24272c;
    color: white;
    white-space: pre-wrap;
}

blockquote {
    padding: 3px 12px;
    border-left: 5px solid var(--phun-text-dark);
}

blockquote p {
    margin: 0.5rem 0;
}

blockquote p + p {
    margin-top: 1rem;
}

@media screen and (max-width: 834px) {
    .article {
        width: 90vw;
    }
    .mainContainer > h1, .mainContainer > h2, .mainContainer > h3,
    .mainContainer > h4, .mainContainer > h5, .mainContainer > h6 {
        margin-left: -0.5rem;
    }
}