:root {
    --kaeru-main: #60c187;
    --kaeru-text: #30c16a;
    --kaeru-dark: #42ac6d;
    --kaeru-light: #e7fff0;
    --background: #d2ffe3;

    --phun-main: #014f41;
    --phun-text: #15a389;
    --phun-dark: #00ad8d;
    --phun-dark-transparent: #00ad8d80;

    --accent-red: #cc4128;
}