.header {
    width: 100%;
    background-color: var(--kaeru-main);
}

.latinHeader {
    font-size: 0.9rem;
}

.content {
    margin: 0 auto;
    width: 87vw;
    padding-left: 6vw;
    height: 4.75em;
    display: flex;
    z-index: 0;
}

.animeIconBox {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 60px;
}

.icon {
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    z-index: 100;
}

.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.logoLink {
    text-decoration: none;
    position: relative;
    padding: 0 14px 0 6px;
    z-index: 1;
}

.titleBox {
    padding: 0 0 3px 80px;
    mask-image: linear-gradient(#000, #000), url("/icon_mask.svg");
    mask-repeat: no-repeat;
    mask-position: center center, 0px center;
    mask-size: 100% 100%, 60px 60px;
    mask-composite: exclude;
}

.title {
    display: inline-block;
    font-size: 1.8em;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    z-index: -1;
}

.title.animeHide {
    transform: translateX(-250px);
}

.title.animeShow {
    transform: translateX(0);
    transition: transform 0.5s 0s ease-out;
}

.topLinks {
    margin-left: auto;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.topLinks div {
    display: block;
    text-wrap: nowrap;
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.langSelect {
    display: flex;
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 100%;
    width: 4vw;
    margin-left: 2vw;
    z-index: 1;
}

.langList {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 10em;
    list-style: none;
    text-align: center;
    color: white;
    z-index: 1;
    pointer-events: none;
}

.langList li {
    background-color: var(--kaeru-main);
    margin-top: 1px;
    padding: 0;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    font-size: 0.9rem;
    overflow: hidden;
    height: 0;
    transition: 0.2s;
}

.langSelect:hover .langList {
    pointer-events: auto;
}

.langSelect:hover .langList li {
    display: block;
    overflow: visible;
    height: calc(1em + 15px);
    transition: 0.2s;
}

.langList li:hover {
    background-color: var(--kaeru-dark);
    transition: 0.2s;
}

.langList li::before {
    display: none;
}

.langList li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.langList li span {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.topLinks div::before, .logoLink::before, .langSelect::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--kaeru-dark);
    z-index: -1;
    transition: 0.2s;
}

.topLinks div:hover::before, .logoLink:hover::before, .langSelect:hover::before {
    height: 100%;
    transition: 0.2s;
}

.topLinks a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.topLinks a:hover {
    color: white;
}

.count {
    margin: 0.7rem 0;
    font-size: 1rem;
    color: var(--kaeru-text);
    text-align: center;
}

.countNum {
    display: inline-block;
    font-family: "phun-num-5px", sans-serif;
    padding: 0.3rem 0.7rem;
    border: 2px solid var(--kaeru-text);
    border-radius: 0.5rem; 
}

.countNum.kiriban {
    border: none;
    background: linear-gradient(45deg, #ff2020, #ff7f20, #c0c000, #20ff20, #2020ff, #8f20ff);
    color: #ffffff;
}

.messageNum {
    font-family: "phun-num-5px", sans-serif;
    font-weight: normal;
}

.message {
    margin: 0.7rem 0 0.5rem 0;
    font-weight: bold;
}

.copyright {
    margin: 0.7rem 0;
    color: var(--kaeru-text);
    font-size: 0.8rem;
    text-align: center;
}

@media screen and (max-width: 834px) {
    .logoLink {
        padding: 8px 20px 3px 12px;
    }

    .content {
        padding: 0;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: center;
    }
    
    .topLinks {
        margin-left: 0;
    }

    .topLinks div, .langSelect {
        padding: 10px 20px;
        width: auto;
    }

    .langList {
        left: 50%;
        transform: translateX(-50%);
    }
}

@font-face {
    font-family: "phun-num-5px";
    src: url("https://kaeru2193.github.io/Phun-Resources/font/PhunNum5px.woff") format("woff");
}