@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "./(layout)/kaeru-theme.css";

body {
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

input:focus {
    outline: 0;
}

.phun {
    font-family: "Phun-Sans";
}

@font-face {
    font-family: "Phun-Sans";
    font-weight: normal;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/Phun-Sans/Phun-Sans-Rounded-Regular.woff) format("woff");
}

@font-face {
    font-family: "Phun-Sans";
    font-weight: bold;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/Phun-Sans/Phun-Sans-Rounded-Bold.woff) format("woff");
}