@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700');
@import "./(layout)/kaeru-theme.css";

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

input:focus {
    outline: 0;
}

.defFont {
    font-family: 'Noto Sans JP', sans-serif;
}

.phun {
    font-family: "PhunDot", "Phun-Sans", serif;
}

.ipa {
    font-family: 'Charis SIL', 'Doulos SIL', 'DejaVu Sans', 'Code2000', 'Hiragino Kaku Gothic Pro', 'Matrix Unicode', 'Tahoma', 'Microsoft Sans Serif', serif;
    font-weight: 400;
    font-style: normal;
}

.serif {
    font-family: 'Noto Serif JP', serif;
}

@font-face {
    font-family: "Phun-Sans";
    font-weight: normal;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/Phun-Sans/Phun-Sans-Rounded-Regular.woff) format("woff");
}

@font-face {
    font-family: "Phun-Sans";
    font-weight: bold;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/Phun-Sans/Phun-Sans-Rounded-Bold.woff) format("woff");
}

@font-face {
    font-family: "PhunDot";
    font-weight: normal;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/PhunDot-latest.woff) format("woff");
}

@font-face {
    font-family: "PhunWrite";
    font-weight: normal;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/PhunWrite-Regular-latest.woff) format("woff");
}

@font-face {
    font-family: "phun-num-5px";
    src: url("https://kaeru2193.github.io/Phun-Resources/font/PhunNum5px.woff") format("woff");
}