.mainContainer {
    background-color: #60c187;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    animation: float 2s ease-in-out infinite alternate-reverse;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    margin: 20px 0;
    font-weight: bold;
    color: white;
    border: none;
    text-align: center;
}

.box {
    margin: auto;
    text-align: center;
    color: white;
}

.box p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.box a {
    color: white;
    text-decoration: underline;
}

@keyframes float {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
}