.grid {
    border-radius: 1rem;
    display: grid;
    width: fit-content;
    margin: 15px auto;
    grid-template-areas:
        "dis bga bls ste"
        "mis twi gih mig"
        "zpd rdi you oth";
}

.item {
    margin: 0.3rem;
    border-radius: 0.5rem;
    width: 10rem;
    height: 3rem;
    color: white;
    transition: 0.2s;
}

.item:hover {
    transform: scale(1.05, 1.05);
    transition: 0.2s;
}

.link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: inherit;
}

.newsLink {
    margin: 0.5rem 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.x {
    grid-area: twi;
    background-color: #000000;
}

.you {
    grid-area: you;
    background-color: #ff0000;
}

.dis {
    grid-area: dis;
    background-color: #5865f2;
}

.mis {
    grid-area: mis;
    background-color: #91bd00;
}

.gih {
    grid-area: gih;
    background-color: #24292e;
}

.ste {
    grid-area: ste;
    background-color: #00adee;
}

.bls {
    grid-area: bls;
    background-color: #1083fe;
}

.zpd {
    grid-area: zpd;
    background-color: #7a4109;
}

.plx {
    grid-area: plx;
    background-color: #014f41;
}

.rdi {
    grid-area: rdi;
    background-color: #ff5700;
}

.mig {
    grid-area: mig;
    background-color: #8fc31f;
}

.bga {
    grid-area: bga;
    background-color: #457ece;
}

.oth {
    grid-area: oth;
    background-color: #c0c0c0;
    color: black
}

.mutualLinkList img {
    display: inline-block;
    height: 40px;
}

.mutualLinkList span {
    text-wrap: nowrap;
}

.mutualLinkList a {
    margin-right: 10px;
    transition: opacity 0.2s;
}

.mutualLinkList a:hover {
    opacity: 0.8;
}

.kaeruBanner {
    display: inline;
}

@media screen and (max-width: 834px) {
    .grid {
        grid-template-areas:
            "dis mis zpd"
            "bga twi rdi"
            "bls gih you"
            "ste mig oth";
    }
}

@media screen and (max-width: 660px) {
    .grid {
        grid-template-areas:
            "dis bga"
            "bls ste"
            "mis twi"
            "gih mig"
            "zpd rdi"
            "you oth";
    }
}

@media screen and (max-width: 430px) {
    .grid {
        width: 100%;
        grid-template-areas:
            "dis"
            "bga"
            "bls"
            "ste"
            "mis"
            "twi"
            "gih"
            "mig"
            "zpd"
            "rdi"
            "you"
            "oth";
    }

    .item {
        height: 2.5rem;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .dis {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .oth {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}